:root {
    --black-color: #000;
    --dark-color:#212121; 
    --grey-color:#757575;
    --blue-color:#2196F3;
    --white-color:#fff;
    --semi-white-color: rgba(255,255,255,.5);
    --dark-background:#2F303A; 
    --light-background:#F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--grey-color);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.current-page {
    color: var(--blue-color);
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    color: var(--dark-color);
}

/*---------- HEADER ----------*/

.header {
    font-size: 14px;
    font-weight: 500;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.9;
    color: var(--black-color);
}

.logo span {
    color: var(--blue-color);
}

nav a {
    color: var(--dark-color)
}

nav a:hover,
nav a:focus,
.contacts a:hover,
.contacts a:focus  {
    color: var(--blue-color);
} 

/*--------- SOLUTIONS --------*/
.solutions {
    background-color: var(--dark-background);
    text-align: center;
}

.solutions h1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    color:var(--white-color);
    text-transform: uppercase;
}

.solutions .btn {
    height: 50px;
    font-weight: 700;
    line-height: 1.9;
    color: var(--white-color);
    background-color: var(--blue-color);
}

/*--------- FEATURES --------*/
.features {
    font-size: 14px;
}

.features h3 {
    font-size: inherit;
    line-height: 1.14;
    color: var(--dark-color);
}

.features p {
    line-height: 1.7;
}

/*--------- TEAM --------*/
.team {
    background-color: var(--light-background);
}

.team h3 {
    font-size: 16px;
    color: var(--dark-color);
}

.team p {
    line-height: 1.19;
}

/*--------- PORTFOLIO --------*/
.portfolio .btn {
    height: 38px;
    font-weight: 500;
    line-height: 1.6;
    background-color: var(--light-background);
}

.portfolio .btn:hover,
.portfolio .btn:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
}

.portfolio h2 {
    font-size: 18px;
    line-height: 2;
    color: var(--dark-color);
}

.portfolio p {
    line-height: 1.875;
}

/*--------- FOOTER --------*/
.footer {
    background-color: var(--dark-background);
    font-size: 14px;
}

.footer address {
    font-style: normal;
    line-height: 1.71;
    color: var(--semi-white-color);
}

.footer .logo,
.footer a[href*="https"] {
    color: var(--white-color);
}


