:root {
    --dark-color:#212121; 
}

body {
    font-family: 'Roboto', sans-serif;
    color: ver(--dark-color);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3 {
    color: #212121;
}

section h2 {
    font-size: 36px;
    line-height: 1.17;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/*---------- HEADER ----------*/

.header {
    font-size: 14px;
    font-weight: 500;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.9;
    color: #000;
}

.logo span {
    color: #2196F3;
}

/* header a:not(.logo):hover,
header a:not(.logo):focus {
    color: #2196F3;
} */

nav a:hover,
nav a:focus,
.contacts a:hover,
.contacts a:focus  {
    color: #2196F3;
} 

/*--------- SOLUTIONS --------*/
.solutions {
    background-color: #2F303A;
    text-align: center;
}

.solutions h1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    color:#fff;
    text-transform: uppercase;
}

.solutions .btn {
    height: 50px;
    font-weight: 700;
    line-height: 1.9;
    color: #fff;
    background-color: #2196F3;
}

/*--------- FEATURES --------*/
.features {
    font-size: 14px;
    font-weight: 700;
}

.features p {
    font-weight: 400;
    line-height: 1.7;
}


/*--------- TEAM --------*/
.team {
    background-color: #F5F4FA;
}

.team p {
    line-height: 1.19;
}


/*--------- PORTFOLIO --------*/
.portfolio .btn {
    height: 38px;
    font-weight: 500;
    line-height: 1.6;
    background-color: #F5F4FA;
}

.portfolio .btn:hover,
.portfolio .btn:focus {
    color: #fff;
    background-color: #2196F3;
}

.portfolio h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}

.portfolio p {
    font-weight: 400;
    line-height: 1.875;
}

/*--------- FOOTER --------*/
.footer {
    background-color: #2F303A;
    font-size: 14px;
}

.footer .logo,
.footer a[href*="https"] {
    color: #fff;
}

.footer a {
    font-style: normal;
    color: #757575;
}

.footer address {
    line-height: 1.7;
}



